#header > div {
  /*display: none !important;*/
}

.more-height {
  height: 800px !important;
}

.logo-intro h1 {
  font-size: 248px;
  line-height: 0.8 !important;
  color: rgba(0, 124, 255, 0.9) !important;
  font-family: inherit !important;
}

.logo-intro h1 + span {
  text-transform: uppercase;
  font-weight: 500 !important;
}

.standard-logo,
.retina-logo {
  font-family: 'Roboto', sans-serif !important;
  font-size: 50px;
  padding: 16px;
  color: #ffffff !important;
}


#content h1, #content h2, #content h4, #section-about {
  color: rgb(0, 124, 255) !important;
}

#section-stats h1,
#section-stats h2,
#section-stats h4 {
  color: #555 !important;
}

#section-stats ul li .badge {
  padding: 0px;
  background: transparent;
  color: #666;
}

.progress {
  overflow: visible !important;
	position: relative;
	z-index: 5;
	background:#484848;
	border: none;
	border-radius: 20px;
  margin: 0 auto 16px auto;
	display: block;
	box-shadow: 0 5px 17px rgba(40, 40, 40, 0.5),0 0 3px 1px rgba(40, 40, 40, 0.5) inset;

}
.progress-text {
	position: absolute;
	font: bold 14px/20px Arial;
	text-align: center;
	top: 20%;
  height: 100%;
  width: 20px;
}

.progress-text.left {
  left: 4%;
}

.progress-text.right {
  right: 8%;
}

.progress, .progress-bar {
	width: 50%;
	max-width: 100%;
	height: 50px;
}

.progress-bar {
	position: relative;
	z-index: 10;
 	border-radius: 12px;
	width: 100%;
	-moz-transition: width .2s linear;
	-webkit-transition: width .2s linear;
	-o-transition: width .2s linear;
	transition: width .2s linear;
}

/* Aqua Style */
.progress.aqua .progress-bar {
	background-color: #00baba;
	background-image: -moz-linear-gradient(left, #2B507D 0%, #C9CBCB 45%, #A0112B 100%);
	background-image: -webkit-linear-gradient(left, #2B507D 0%, #C9CBCB 45%,#A0112B 100%);
	background-image: -o-linear-gradient(left, #2B507D 0%, #C9CBCB 45%,#A0112B 100%);
	background-image: -ms-linear-gradient(left, #2B507D 0%, #C9CBCB 45%,#A0112B 100%);
	background-image: linear-gradient(to right, #2B507D 0%, #C9CBCB 45%,#A0112B 100%);
}

p.not-select span {
  height: 30px;
  width: 30px;
  background: #999;
  display: inline-block;
}

.known-facts {
  margin: auto;
  float: none !important;
}

.known-facts .testimonial .testi-content p {
  font-weight: 800 !important;
  font-size: 24px !important;
}

.countdown {
  display: none !important;
}

#widget-subscribe-form {
  display: none !important;
}

.divider {
  display: none;
}

#legalDisclaimer h4 {
  margin: 20px 0 10px 0;
}

@media(max-width: 498px) {
  #section-stats .list-group-item {
      text-align: center;
  }

  #section-stats .list-group-item .badge {
    float: none;
    display: block;
    padding-bottom: 8px !important;
  }

  #section-stats .list-group-item .state {
    display: block;
  }

  #section-stats h4 {
    text-align: center;
  }

  #section-stats .progress, .progress-bar  {
    width: 100%;
  }

  .known-facts .testimonial .testi-content p {
    font-weight: 800 !important;
    font-size: 24px !important;
  }
}
