<div class="page page-charts">

    <section data-ng-controller="dashbardCtrl">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-list panel-ico"></i>Pie Chart js</div>
                    <div class="panel-body">
                        <chart class="chartjs" data-data="chartjsPie" data-type="Pie" value="myChart"></chart>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                </div>
            </div>


        </div>

    </section>
</div>
