<div>
    <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">


        <aside data-ng-include=" 'templates/navigation.html' " id="nav-container"></aside>
    </div>

    <div class="view-container">

        <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">
            <section data-ng-include=" 'templates/header.html' " id="header" class="top-header"></section>
        </div>
        <div flash-message="5000" style="position:relative;z-index:9000;"></div>
        <section ui-view id="content" class="animate-fade-up"></section>

        <!--<section data-ng-view="" id="content" class="animate-fade-up"></section>-->
    </div>
</div>
<div class="page-loading-overlay"> <div class="loader-2"></div> </div>

<div class="load_circle_wrapper">

    <div class="loading_spinner">
        <div id="wrap_spinner">
            <div class="loading outer">
                <div class="loading inner"></div>
            </div>
        </div>
    </div>
</div>
