<div class="page page-table">

  <section class="panel panel-default">
    <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Schedule New Show</strong></div>
    <div class="panel-body">

      <!-- Show Name -->
      <form class="form-horizontal" name="new_show" ng-submit="addNewShow(newShow)" ng-show="!next" ng-hide="next" novalidate>

            <!-- Show Name -->
            <div class="form-group"
                 ng-class="{ 'has-error' : new_show.show_name.$invalid && !new_show.show_name.$pristine }">
              <label for="" class="col-sm-2">Show Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newShow.show_name" name="show_name" required>
                <p ng-show="new_show.show_name.$invalid && !new_show.show_name.$pristine" class="help-block">
                  The show name is required.
                </p>
              </div>
            </div>

            <!-- Show Scheduled Date -->
            <div class="form-group"
                 ng-class="{ 'has-error' : new_show.show_date.$invalid && !new_show.show_date.$pristine}"
                 data-ng-controller="datepickerCtrl">
              <label for="ui-datepicker" class="col-sm-2">Scheduled Date</label>
              <div class="col-sm-4">
                <div class="input-group ui-datepicker">
                  <input type="text"
                         class="form-control"
                         datepicker-popup="{{format}}"
                         ng-model="newShow.show_date"
                         is-open="opened"
                         min="minDate"
                         max="'2015-06-22'"
                         datepicker-options="dateOptions"
                         date-disabled="disabled(date, mode)"
                         name="show_date"
                         ng-required="true"
                         close-text="Close">
                  <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="callout-elem-elem callout-elem-elem-info">
                  <p>Date is: {{dt | date:'fullDate'}}</p>
                </div>
                <p ng-show="new_show.show_date.$invalid && !new_show.show_date.$pristine" class="help-block">
                  Show start date is required.
                </p>
              </div>
            </div>

                    <!-- Show Start Time -->
                    <div class="form-group" data-ng-controller="timepickerCtrl">
                      <div class="col-sm-6">
                        <label for="ui-timepicker" class="col-sm-3">Start Time</label>
                        <div class="col-sm-5">
                          <div ng-model="newShow.start_time" ng-change="changed()" style="display:inline-block;" name="start_time" ng-required="true">
                            <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                          </div>
                          <div class="callout-elem-elem callout-elem-elem-info">
                            <p>Time is: {{mytime | date:'shortTime' }}</p>
                          </div>
                        </div>
                      </div>

                      <!-- Show End Time -->
                      <div class="col-sm-6">
                        <label for="ui-timepicker" class="col-sm-3">End Time</label>
                        <div class="col-sm-5">
                          <div ng-model="newShow.end_time" ng-change="changed()" style="display:inline-block;" name="end_time" ng-required="true">
                            <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                          </div>
                          <div class="callout-elem-elem callout-elem-elem-info">
                            <p>Time is: {{mytime | date:'shortTime' }}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Show Street Address -->
                    <div class="form-group" ng-class="{ 'has-error' : new_show.address.$invalid && !new_show.address.$pristine }">
                      <label class="col-sm-2">Street Address</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="newShow.address" name="address" required>
                        <p ng-show="new_show.address.$invalid && !new_show.address.$pristine" class="help-block">
                          The street address location is required.
                        </p>
                      </div>
                    </div>

                    <!-- Show Country Destination -->
                    <div class="form-group" ng-class="{ 'has-error' : new_show.country.$invalid && !new_show.country.$pristine }">
                      <label class="col-sm-2">Country</label>
                      <div class="col-sm-10">
                        <span class="ui-select">
                            <select ng-model="newShow.country" name="country" required>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Barbecue</option>
                            </select>
                        </span>
                        <p ng-show="new_show.country.$invalid && !new_show.country.$pristine" class="help-block">
                          The country location is required.
                        </p>
                      </div>
                    </div>

                    <!-- Show State / Providence Destination -->
                    <div class="form-group" ng-class="{ 'has-error' : new_show.state_prov.$invalid && !new_show.state_prov.$pristine }">
                      <label class="col-sm-2">State / Providence</label>
                      <div class="col-sm-10">
                        <span class="ui-select">
                            <select ng-model="newShow.state_prov" name="state_prov" required>
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Barbecue</option>
                            </select>
                        </span>
                        <p ng-show="new_show.state_prov.$invalid && !new_show.state_prov.$pristine" class="help-block">
                          The state or providence location is required.
                        </p>
                      </div>
                    </div>

                    <!-- Show City Destination -->
                    <div class="form-group" ng-class="{ 'has-error' : new_show.city.$invalid && !new_show.city.$pristine }">
                      <label class="col-sm-2">City</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="newShow.city" name="city" required>
                        <p ng-show="new_show.city.$invalid && !new_show.city.$pristine" class="help-block">
                          The city location is required.
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-9"></div>
                      <div class="col-sm-3">
                        <button class="btn btn-primary" type="submit" ng-disabled="new_show.$invalid">Create Show Playlist</button>
                      </div>
                    </div>
          </form>

          <!-- Create Show Playlist Form -->
          <form class="form-horizontal" name="new_pl" ng-show="next" ng-hide="!next" ng-submit="addNewPlaylist()">
            <div class="form-group">
              <label class="col-sm-9">Create Show Playlist</label>
              <div class="col-sm-3">
                <a class="btn btn-primary"
                        ng-click="openMusicInventory()"
                        tooltip="You can select songs from you music inventory.">
                  Choose Song From Music Inventory
                </a>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <input type="text"
                       ng-model="newSong.artist"
                       class="form-control"
                       placeholder="Artist Name">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <input type="text"
                       ng-model="newSong.name"
                       class="form-control"
                       placeholder="Song Name">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3">Song Image (optional)</label>
              <div class="col-sm-2">
                <input type="file" ng-model="newSong.image" title="Choose File" data-ui-file-upload>
              </div>
            </div>

            <div class="form-group">
              <a class="btn btn-primary" ng-click="addNewSong(newSong)">
                Add New Song
              </a>
            </div>

            <!-- Playlist Table Display -->
            <div class="panel-body">
                <h4>Playlist</h4>
                <p ng-show="playlistSongs.length < 1">No songs are added to this playlist.</p>
                <table ng-show="playlistSongs.length > 0" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Artist</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="plsong in playlistSongs">
                            <td>{{plsong.name}}</td>
                            <td>{{plsong.artist}}</td>
                            <td>
                              <a ng-click="removeFromList(plsong.id)" class="btn btn-primary">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
              <div class="col-sm-8"></div>
              <div class="col-sm-2">
                <a class="btn btn-primary" ng-click="nextStep(false)">
                  <i class="fa fa-arrow-circle-o-left"></i>
                  Show Details
                </a>
              </div>
              <div class="col-sm-2">
                <button ng-disabled="playlistSongs.length < 1"
                        class="btn btn-primary"
                        type="submit">
                  Create Show
                </button>
              </div>
            </div>
          </form>
    </div>
  </section>
</div>
