$navColor: #666;
$masonryColor: #ffffff;
$imageHeaderFontSize: 20px;

.navbar {
  height: 50px;

  ul.profile-info {

    li .profile-pic {
      background: #999;
      width: 44px;
      height: 44px;
      display: block;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    li .profile-name {

    }
  }
}

#login-form {
  float: none;
  border: 1px solid #666;
  padding: 10px;
  border-radius: 5px;
}

.discovery-category-nav {
  width: 440px;
}

/**********************************************
  MASONRY STYLES
**********************************************/
.photo-list {
  width: 85%;
  padding: 0;

  .photoEntry {
    margin: 5px;
    list-style: none;
    position: relative;
    color: $masonryColor;

    .imageTitle {
      padding-top: 1em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.5em 0;
      font-size: $imageHeaderFontSize;

      .likeBtn {
        float: right;
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 767px) {
  .photo-list {
    width: 100%;
  }
}
